@font-face {
    font-family: Caligula;
    src: url(fonts/Caligula.ttf);
}

/* Make the mobile icons blink when needed */
@keyframes blink {

    100%,
    0% {
        fill: #ffcaa8;
    }

    60% {
        fill: #ff0000;
    }
}

body {
    background: url(images/bm-stone-wall.jpg);
}

footer {
    color: white;
    background: url(images/bm-stone-wall.jpg);
    border-top: thin solid #181818;
    position: fixed;
    bottom: 0;
}

footer a {
    color: #83b6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Caligula;
    color: white;
}

#title-bar {
    font-family: Caligula;
    font-size: medium;
    background: url(images/bm-title-bar.jpg);
    position: fixed;
    min-height: 40px;
    top: 0;
    z-index: 99;
}

#title-bar a {
    color: white;
}

#menu-bar {
    color: white;
    min-height: 575px;
    min-width: 200px;
    background-image: url(images/bm-menu.png);
    background-repeat: no-repeat;
    padding-top: 140px;
    padding-left: 20px;
    position: fixed;
    left: 0;
    z-index: 100;
}

#menu-bar a {
    font-size: 14pt;
    text-shadow: 2px 2px #000;
    color: #fff;
}

#menu-bar li {
    font-family: Caligula;
    list-style: none;
    margin-left: none;
}

#globe {
    position: fixed;
    top: 405px;
    left: 48px;
    z-index: 100;
}

#mobile-menu {
    font-family: Caligula;
    text-align: center;
    margin-bottom: 20px;
}

#mobile-menu .messages g path {
    animation: blink 0.8s infinite;
}

#content-area {
    padding-top: 60px;
    color: #C0C0C0;
    padding-bottom: 180px;
}

#content-area a,
#content-area a:visited {
    color: #83b6e6;
    text-decoration: none;
}

#content-area a:hover {
    border-bottom: thin dotted #83b6e6;
}

#scroll-to-top {
    z-index: 100;
    position: fixed;
    left: 20px;
    bottom: 100px;
    padding: 5px;
}

.letter {
    border-top: thin solid #181818;
    border-bottom: thin solid #181818;
    padding: 20px;
    margin-top: 30px;
}

.letter-to-line {
    color: #65909A;
}

.letter-content {
    padding-left: 20px;
}

.letter-content::first-letter {
  font-size: 35px;
}