@font-face {
    font-family: Caligula;
    src: url(fonts/Caligula.ttf);
}

html {
    background-color: black;
    background: url(images/background.jpg);
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: inherit;
}

#title-bar {
    font-family: Caligula;
    background: url(images/title_bar.jpg);
    border-bottom: thin solid black;
}

#title-bar a {
    color: white;
    padding-right: 20px;
}

#menu-bar {
    color: white;
}

#content-area {
    padding-top: 40px;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}