@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../src/parts/img/bm-stone-wall.jpg");
    @apply text-white m-0 p-0;
}

#titlebar {
    background-image: url("../src/parts/img/bm-title-bar.jpg");
    @apply bg-bottom lg:fixed flex flex-row justify-center items-center w-screen py-1 font-bold lg:text-lg text-xs;
}

#titlebar ul {
    list-style-image: url("../src/parts/img/bm-rivet.png");
    @apply list-inside;
}

#titlebar li {
    @apply px-1 pb-4;
}

#pagemenus {
    @apply grid grid-cols-2;
}

#pcmenu {
    @apply hidden lg:inline fixed top-2;
}

#mobilemenu {
    @apply col-span-2 grid grid-cols-5 gap-2 my-4 mx-2 lg:hidden text-center;
}

#menu {
    @apply hidden lg:inline z-10 absolute mt-36 ml-4;
}

#panel {
    @apply hidden lg:inline z-0;
}

#globe {
    @apply hidden lg:inline z-0;
}

#pagecontent {
    @apply lg:ml-52 lg:mt-24 col-span-2;
}

#playerinformation {
    @apply grid grid-cols-1 lg:grid-cols-4 px-4;
}

#playerinformation div {
    @apply pb-8;
}

#playerinformation h1 {
    @apply font-bold text-center;
}

#playerinformation p {
    @apply flex flex-col justify-center items-center;
}

#playerinformation button {
    @apply rounded-md m-2 lg:m-1 w-11/12 lg:w-1/2 py-2 px-8;
}

#characterinformation {
    @apply grid grid-cols-1 lg:grid-cols-4 gap-8 pb-2 lg:mr-12;
}

#characterinformation .charactercard {
    background-image: url("../src/parts/img/lace.png");
}

#characterinformation .charactercard button {
    @apply lg:my-4 p-2 w-5/12 rounded border-white border-2;
}

#characterinformation h1 {
    @apply font-bold text-3xl;
}

#characterinformation h6 {
    @apply italic text-sm mb-3;
}

#characterinformation .activecharactercard {
    @apply bg-gradient-to-b from-yellow-500/95 to-yellow-800/90 dark:from-yellow-800/95 dark:to-yellow-900/90 border-4 border-yellow-600 shadow-yellow-600/50 shadow-lg rounded h-full flex flex-col justify-center align-middle text-center;
}

#characterinformation .activecharactercarddark {
    @apply bg-gradient-to-b from-yellow-800/95 to-yellow-900/90 border-4 border-yellow-700 shadow-yellow-600/50 shadow-lg rounded h-full flex flex-col justify-center align-middle text-center;
}

#characterinformation .pausedcharactercard {
    @apply bg-gradient-to-b from-neutral-500/95 to-neutral-800/90 border-4 border-neutral-600 shadow-neutral-600/50 shadow-lg rounded h-full flex flex-col justify-center align-middle text-center;
}

#characterinformation .pausedcharactercarddark {
    @apply bg-gradient-to-b from-neutral-800/95 to-neutral-900/90 border-4 border-neutral-700 shadow-neutral-600/50 shadow-lg rounded h-full flex flex-col justify-center align-middle text-center;
}

#charactercard .cardbuttons {
    @apply flex flex-col;
}