@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../src/parts/img/bm-stone-wall.jpg");
    @apply text-white m-0 p-0;
}

#titlebar {
    background-image: url("../src/parts/img/bm-title-bar.jpg");
    @apply bg-bottom lg:fixed flex flex-row justify-center items-center w-screen py-1 font-bold lg:text-lg text-xs;
}

#titlebar ul {
    list-style-image: url("../src/parts/img/bm-rivet.png");
    @apply list-inside;
}

#titlebar li {
    @apply px-1 pb-4;
}

#pagemenus {
    @apply grid grid-cols-2;
}

#pcmenu {
    @apply hidden lg:inline fixed top-2;
}

#mobilemenu {
    @apply col-span-2 grid grid-cols-5 gap-2 my-4 mx-2 lg:hidden text-center;
}

#menu {
    @apply hidden lg:inline z-10 absolute mt-36 ml-4;
}

#panel {
    @apply hidden lg:inline z-0;
}

#globe {
    @apply hidden lg:inline z-0;
}

#pagecontent {
    @apply lg:ml-52 lg:mt-14 col-span-2;
}

#playerinformation {
    @apply grid grid-cols-1 lg:grid-cols-4 px-4;
}

#playerinformation div {
    @apply pb-8;
}

#playerinformation h1 {
    @apply font-bold text-center;
}

#playerinformation p {
    @apply flex flex-col justify-center items-center;
}

#playerinformation button {
    @apply rounded-md m-2 lg:m-1 w-11/12 lg:w-auto py-2 px-8;
}

#characterinformation {
    @apply grid grid-cols-1 lg:grid-cols-4 px-4;
}